[user]
	email = edu.hen.fm@gmail.com
	name = Eduardo Henrique
	signingkey = GPG_KEY
[init]
	defaultBranch = main
[alias]
	go = !git add . && git commit -m
	bc = checkout -b
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
