@import "mocha.css";

* {
  color: @text;
  font-family: "FiraCode Nerd Font";
  font-size: 12px;
  padding: 3px;
}

window#waybar {
  background: transparent;
  background-color: shade(@base, 0.9);
  transition-property: background-color;
  transition-duration: .5s;
}

#workspaces button.active {
  color: @red;
  border-radius: 15px;
  font-weight: bold;
  border: none;
}

